body {
    background-color: #111010;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.product-cards__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-card__container {
    display: flex;
    height: 250px;
    width: 800px;
    border-radius: 8px;
    background-color: white;
    transition: transform 0.2s;
}
.product-card__container:hover {
    transform: translateY(-3px);
}

.product-card__left {
    flex: 1;
}
.product-card__right {
    display: flex;
    /*   background-color: pink; */
    flex: 2;
}

.product-card__text-container {
    flex: 2;
    /*     background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.product-card__origin {
    display: flex;
    justify-content: space-evenly;
}
.product-card__process {
    display: flex;
    justify-content: space-evenly;
}
.product-card__producer {
    display: flex;
    justify-content: space-evenly;
}
.product-card__variety {
    display: flex;
    justify-content: space-evenly;
}

.product-card__logo-container {
    flex: 1;
    position: relative;
    /*   background-color: green; */
}

.product-card__logo {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 100px;
    width: 100px;
    background-color: orange;
    background-image: url('https://i.postimg.cc/d7Ym1jL8/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}
