<!DOCTYPE html>
<html>

<head>
    <title>Fourways Coffee Roasters</title>
</head>

<body>
    <section>
        <div class="product">
            <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
            <div class="description">
                <h3>Brazil Natural</h3>
                <h5>£10.00</h5>
            </div>
        </div>
        <form action="/cart/add" method="POST">
            <input type="hidden" name="coffeeId" value="2">
            <input type="number" name="quantity" value="1" min="1">
            <button type="submit" id="checkout-button">Add to Cart</button>
        </form>
    </section>
</body>

</html>